.fullPage {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    padding: 10px 20px;
    text-align: center;
}

.loader p {
    margin-top: 40px;
    color: #7684a5;
}

.opaque{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(11, 11, 11, 0.729);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.splashContainer{
    position: relative;
}

.firstHalf{

}
.secondHalf{

}
.firstHalf p{
    color: white;
    animation: fadeIn ease 1s;
}
.secondHalf p{
    color: white;
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}