.profileContainer{
    border-radius: 6px;
    background-color: #F9F1F1;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.flexer{
    display: flex;
    align-items: flex-start;
}

.img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.details{
    padding-top: 10px;
    margin-left: 15px;
    max-width: 300px;
    word-wrap: break-word;
    
}
.details h2{
    font-size: 18px;
}
.details p{
    font-size: 14px;
    margin-top: 4px;
}

.imageCropper{
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.socialHolder{
    margin-top: 10px;
}
.socialHolder img{
    margin-right:8px;
    cursor: pointer;

}
.profileSelector {
    color: rgb(226, 226, 226);
}
.profileSelector p{
    margin-top: 5px;
}
.editContainer{
    margin-top: 30px;
}
.info{
    margin-top: 10px;
}
.info label{
    font-size: 12px;
    display: block;
}
.info input[type="text"]{
    width: 90%;
    padding: 10px 7px;
    border-radius: 4px;
    border: 1px solid rgb(95, 94, 94);;
    background-color: transparent;
    margin-top: 5px;
    color: #F9F1F1;
    
}
.info textarea{
    resize: none;
    width: 90%;
    padding: 10px 7px;
    border-radius: 4px;
    border: 1px solid rgb(95, 94, 94);;
    background-color: transparent;
    margin-top: 5px;
    color: #F9F1F1;
}

.be p{
    font-weight: 800 !important;
    margin-top: 20px;
   
    
}
.subItems{
 
    display: flex;
    align-items: center;
    column-gap: 4px;
  
}
.subItems img{
    margin-top: 5px;
    height: 14px;
    width: 14px;

}
.subItemHolder{
    margin:15px 0px;
    justify-content: flex-start;
}
.uploadContainer{
    margin: 20px 0px;
    display: flex;
    align-items: center;

}
.uploadContainer button{
    padding: 7px 10px;
    margin-left: 20px;
    width: 50%;
}
@media all and (max-width: 800px) {
    .imageCropper{
        width: 64px;
        height: 64px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    .details{
        max-width: 200px;
        word-wrap: break-word;
    }
    .details h2{
        font-size: 14px;
    }
    .details p{
        font-size: 12px;
    }
    .socialHolder img{
    height: 18px;
    width: 18px;
        
    }
    .uploadContainer button{
        padding: 7px 10px;
        margin-left: 20px;
        width: 60%;
    }
}