.urlContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    text-align: center;

    height: 500px;

}

.infoContainer {
    max-width: 500px;
    width: 100%;

}

.infoContainer .msg {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 22px;

}

.infoContainer .url {

    font-size: 14px;
}

.input {
    margin: 20px 0px 10px 0px;
    padding: 10px 7px;
    width: 100%;
    max-width: 304px;

}

.buttonContainer {

    max-width: 304px;
    width: 100%;
}

.urlDets {
    margin-top: 20px;
}

.urlerror{
    color: rgb(175, 23, 23);
}
@media all and (max-width:600px) {
    .urlContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;



    }

    .buttonContainer {
        max-width: 100%;
    }

    .buttonContainer input {
        max-width: 204px;
    }

    .input {
        max-width: 240px;
        padding: 10px 7px;
    }
}