.addMoreButton {

    display: inline;
    color: #EA4545;
    font-size: 12px;
    font-weight: 600 !important;
    cursor: pointer;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    text-align: center;
    height: 500px;

}

.head {
    margin-bottom: 20px;
    font-weight: 800;
}



.pseudoContainer {

    max-width: 370px;
    width: 100%;

    position: relative;
    overflow-y: scroll;

}

.cardSection {
    padding: 2px 15px;
}

.fixed {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    padding: 10px 0px;

}

.pseudoContainer::-webkit-scrollbar {
    width: 5px;

}


.pseudoContainer::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 6px;
}


.pseudoContainer::-webkit-scrollbar-thumb {
    background: rgb(192, 194, 194);
    border-radius: 6px;

}



.card {
    position: relative;
    background-color: #FAFAFA;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;

}

.card input[type="text"] {
    background: #F4F4F4;
    border: 1px solid #D2D2D2;
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px 7px;
    width: 100%;
}

.card select {
    background: #F4F4F4;
    border: 1px solid #D2D2D2;
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px 7px;
    width: 100%;
}

.closeButton {
    background-color: #EA4545;
    position: absolute;
    padding: 5px 6px;
    color: white;
    top: 0;
    right: 0;
    border-top-right-radius: 6px;
    font-size: 10px;
    cursor: pointer;
}

.addmore {

    max-width: 370px;
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 10px;
}

.buttonContainer {
    max-width: 204px;
    width: 100%;

}

.input {
    margin: 20px 0px 10px 0px;
    padding: 10px 7px;
    width: 100%;
    max-width: 204px;

}

.incompleteField {

    margin: 22px;
    padding: 7px 5px;
    border-radius: 6px;
    background-color: rgba(235, 204, 96, 0.88);
    cursor: pointer;

}

.incompleteField p {
    font-size: 12px;
    font-weight: 600;
}

@media all and (max-width:600px) {
    .linkContainer {
        justify-content: space-between;
        padding-top: 10px;
    }

    .incompleteField {
        margin: 5px 20px 6px 20px;
    }

}