.themeContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
    padding-top: 50px;

}

.head {
    font-weight: 700;
    margin-bottom: 10px;

}

.themeWrapper {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.theme {

    width: 33%;
    max-height: 200px;
    border-radius: 6px;
    padding: 10px;

}

.imageHolder {

    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;

}


.themeImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: transform 0.5s ease;

}

.themeImage:hover {
    transform: scale(1.5, 1.5);

}

.sampleButton {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid;
    color: black;
    padding: 7px;

    font-weight: 900 !important;
    border-radius: 6px;
    background-color: #ebcd60e3;
    cursor: pointer;
}

.sampleButton:hover {

    background-color: #ebcd60;

}

.input {
    margin: 20px 0px 10px 0px;
    padding: 10px 7px;
    width: 100%;
    max-width: 204px;

}

@media all and (max-width:1000px) {
    .theme {
        width: 50%;
    }
}

@media all and (max-width:600px) {
    .themeContainer {
        padding-top: 10px;
        justify-content: space-between;
    }

    .themeWrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll;

    }

    .theme {
        width: 100%;
        padding: 15px 20px;
    }

    .sampleButton {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid;
        color: black;
        padding: 7px;
        font-weight: 900 !important;
        border-radius: 6px;
        background-color: #ebcd60e3;
        cursor: pointer;
    }


}